<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<title>Acerca de</title>
	<!--link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /-->
</head>
<body>
	<h2>Acerca del autor</h2>
	
	<div class="user">
		<a href="https://github.com/PatriciaCastilloPerez">
			<img src="images/GitHubOctoCat.png">
		</a>
	</div>
	<iframe width="320" height="230" src="https://www.youtube.com/embed/OF--50_hcTU?autohide=1" frameborder="0" allowfullscreen class="embedvideo"></iframe>
	<h6>Aplicación alojada en <a href="https://github.com/">GitHub</a></h6>
	
</body>
</html>