body {
	background: #333;
}
#page-wrap::after {
	content: "Smartphone layout";
}
h2 span, section h3 {
	display: none;
}

body {
	font-size: xx-large;
}
footer, input {
	font-size: large;
}
.user{
	display:block;
	height: 125px;
	width:150px;
	padding:0;
	margin-left:15%;
	margin-top:5px;
}
iframe {
	margin-top:75px;
	width:70vw;
}
table, #search {
	font-size:12px
}
#search {
margin:15%;float:left;
}