<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<title>Quiz</title>
	<!--link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /-->
</head>
<body>
	<table>
		<% console.log(quizes.length)
			if(quizes.length===0){  %>  
				<p>No existen preguntas con ese criterio de búsqueda</p>
				<a href="/quizes">Volver</a><br/>
		<%  } else {
				var i; for (i=0; i < quizes.length; i++) { %>        
		    	<tr>
		    		<td>
		    			<a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
		    		</td>
		    		<td>
		    			<a href="/quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a>
		    		</td>
		    	</tr>
				<% } 


			} 
		%>
	 <tr><td><a href="/quizes/new"><button type="button">Crear pregunta</button></a></td></tr>
  	</table>

  	<form method="GET" action="/quizes">
  		<p>Buscar pregunta</p>
		<input type="text" name="search" placeholder="Buscar..." />
		<input type="submit" value="Enviar" />
	</form>

</body>
</html>